<!DOCTYPE html>
<html>
<head>
	<title>RESULT DETAILS</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<body>
	<ul>
	  <li><a class="active" href="#home">Search</a></li>
	  <li><a href="#news">Details</a></li>
	  <li><a href="#contact">Contact</a></li>
	  <li><a href="#about">About</a></li>
	</ul>
	<h2 style="margin: 30px 0 0 140px;">RESULT DETAILS</h2>
	<br>
	<div align="center">
	<label>
	<strong>Case ID:</strong>&nbsp;&nbsp;<%= id%>
	<br>
	<strong>Media ID:</strong>&nbsp;&nbsp;<%= mediaid%>
	</label>
	</div>
	<div class="table-title">
		<h3>Parameters</h3>
	</div>
	<table style="width: 80%" align="center">
		<tr>
			<th>Region</th>
			<th>Contact</th>
			<th>Muxed-media IDs</th>
		</tr>
		<tr>
			<td><%= region%></td>
			<td><strong>Username:</strong><br><%= usr%></td>
			<td><%= mux%></td>
		</tr>
	</table>
	<br><br>
	<div class="table-title">
		<h3>Media Descriptor</h3>
	</div>
	<table style="width: 80%" align="center">
		<tr>
			<th>Path</th>
			<th>Storage</th>
			<th>Data</th>
			<th>Play</th>
		</tr>
		<tr>
			<td><%= path%></td>
			<td><%= storage%></td>
			<td><strong>Storage Path:</strong><br><%= storagePath%></td>
			<td>
			<button id="hide" style="display: none;">Hide</button>
			<button id="show">Show</button>
			</td>
		</tr>
	</table>
	<br>
	<div id="mp4" align="center" style="display:none;">		
		<video width="700" height="450" id="videoPlayer" controls="controls" >
			<source src="http://localhost:8083/media/<%= path%>" type="video/mp4">
		</video>
	</div>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
