<html>
<head>
	<title></title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body onload="startTime()">
	<% include header.ejs %>
	
	<div style="width: 85%; background-color: #eee; margin-right: auto; margin-left: auto; margin-top: 11px; height:100vh;">
		<br><br>
		<h2 style="margin: 60px 0 -10px 40px;display: inline;">User Profile</h2>
		<div style="display: inline; float:right; margin-right: 10px; margin-bottom: 0;">
			<div class="all" style="display: inline;">
				<a href="/profile/info" style="color: white; text-decoration: none;">Info</a>
			</div>
			<div class="all" style="display: inline;">
				<a href="/profile/scheduler" style="color: white; text-decoration: none;">Scheduler</a>
			</div>
			<div class="all" style="display: inline;">
				<a href="/profile/logs/list" style="color: white; text-decoration: none;">Logs</a>
			</div>
			<div class="all" style="display: inline;">
				<a href="/logout" style="color: white; text-decoration: none;">Logout</a>
			</div>
		</div>
		<hr>
	<div>
		<% if (type == 'info') { %>
			<div style="margin: 20px 0 -10px 40px;">
				<h2>User Infomation</h2><br>
				<label><strong>Username: </strong><%= user%></label>
				<div class="popup">
					<div id="click"><i class="fa fa-pencil"></i>Change Password</div>
					<form action="/profile/changepassword" method="post" class="popuptext" id="myPopup" hidden>
						<label><strong>New Password: </strong></label>
						<input type="password" style="width:200px;" name="newpwd">
						<input type="submit" name="sumbit" value="Submit">
						<i id="click2" class="fa  fa-minus-square"></i>
					</form>
				</div><br><br>
				<label><strong>Scheduled Test Cases</strong></label><br><br>
				<table style="width:90%;table-layout: fixed;" align="center">
					<tr>
						<th>Start Time</th>
						<th>Pre-Script</th>
						<th>Run-test Command</th>
						<th>Post-Script</th>
						<th>Log File</th>
						<th>Status</th>
					</tr>
					<% for (var i=startTime.length-1; i>=0; i--) { %>
					<tr>
						<td><%= startTime[i]%></td>
						<td><%= preScript[i]%></td>
						<td><%= command[i]%></td>
						<td><%= postScript[i]%></td>
						<% if (status[i]=='BUILD SUCCESS'){ %>
							<td><a href="/profile/logs/<%= log[i]%>"" style="color: black;"><%= log[i]%></a></td>
						<% }else{ %>
							<td><%= log[i]%></td>
						<% } %>
						<td><%= status[i]%></td>
					</tr>
					<% } %>
				</table><br><br>
				<!-- <label><strong>Role</strong></label><br><br><br> -->
			</div>
		<% } else if (type == 'scheduler') { %>
			<div style="margin: 20px 0 -10px 140px;">
				<div class="clock">
					<label>Now at UTC: </label><br>
					<div style="margin-top: 10px;font-family:'digital-clock-font';" id="txt"></div>
				</div>
				<h2>Schedule Test</h2><br>
				<form action="" method="post">
				<label><strong>Start Time: </strong></label><input type="datetime-local" name="startTime" style="width: 300px;"><br><br>
				<label><strong>Pre-Script: </strong></label><textarea name="preScript" col="40" row="5"></textarea><br><br><br>
				<label><strong>Run-test Command: </strong></label><textarea name="command" col="40" row="5"></textarea><br><br><br>
				<label><strong>Post-Script: </strong></label><textarea name="postScript" col="40" row="5"></textarea><br><br><br>
				<label><strong>Log File: </strong></label><input type="text" name="log" style="width: 500px;"><br><br><br>
				<input type="submit" name="sumbit" value="Schedule">
				</form>
			</div>

		<% } else if (type == 'logs') {%>
			<div class="logs">
			<h2>Log History</h2><br>
					<ul class="logs">
						<% for (var i=0; i<logs.length; i++){ %>
						<li class="logs"><a href='/profile/logs/<%= logs[i]%>'><%= logs[i]%></a></li>
						<% } %>
					</ul>
				</div>
			</div>
			<div style="display: inline; overflow:scroll; width: 68%; float:right; height:85vh; margin-right: 40px;"><br><br>
				<label style="margin: 10px 0 10px 120px;"><strong>Log Path: </strong><%= logfile%></label>
				<br>
				<pre><%= log%></pre>
			</div>
		<% } %>
		</div>
	</div>
	<% include footer.ejs %>
	<script type="text/javascript" src="/js/script.js"></script>
	<script type="text/javascript" src="/js/clock.js"></script>
</body>
</html>