<!DOCTYPE html>
<html>
<head>
	<title>QUERY RESULT</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">	
</head>
<body>
	<% include header.ejs %>
	
	<div style="width: 85%; background-color: #eee; margin-right: auto; margin-left: auto; margin-top: 11px;">
		<br><br>
		<h2 style="margin: 60px 0 -10px 40px;display: inline;">Search</h2>
		<hr>
		<div align="center">
			<form action="">
				<label>ID:</label>
				<input type="text" name="id" value="">
				&nbsp;&nbsp;&nbsp;&nbsp;
				<label>Start Time:</label>
				<input type="text" name="startTime" value="">
				&nbsp;&nbsp;&nbsp;&nbsp;
				<label>Stop Time:</label>
				<input type="text" name="stopTime" value="">
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="submit" value="Search" style="font-weight: bold; font-size: 18px;">
			</form>
		</div>
		<br><br>
		<h2 style="margin: 60px 0 -10px 40px;">Results</h2>
		<hr>
		<% for(var i=0; i<id.length; i++) { %>
		<ol>
			<div class="table-title">
				<h3><strong>ID:</strong>&nbsp;&nbsp;&nbsp;&nbsp;<%= id[i]%></h3>
			</div>
			<table style="width: 80%;table-layout: fixed;" align="center">
				<tr>
					<th>Media Id</th>
					<th>Start Time</th>
					<th>Stop Time</th>
					<th>Type</th>
					<th>Size</th> 
					<th>Media Descriptor</th>
					<th>Parameters</th>
					<th>Duration</th>
				</tr>
				<% for(var j=0; j<mediaid[i].length; j++) { %>
				<tr>
					<td><%= mediaid[i][j]%></td>
					<td><%= start[i][j]%></td>
					<td><%= stop[i][j]%></td>
					<td><%= type[i][j]%></td>
					<td><%= size[i][j]%></td>
					<td><a href="/testcase/media/details/<%= id[i]%>/<%= mediaid[i][j]%>">Details</a></td>
					<td><a href="/testcase/mdeia/mongodb/insert_recording/details/<%= id[i]%>/<%= mediaid[i][j]%>">Details</a></td>
					<td><%= duration[i][j]%></td>
				</tr>
				<% } %>
			</table>
			<br>
		</ol>
		<% } %>
	</div>
	<% include footer.ejs %>
</body>
</html>
